<!-- Navbar c-->
<nav class="navbar">
    <div class="logo"> <a href="#index.html"><img src="{{ 'assets/images/logo.png' | theme }}" alt="Image"></a> </div>
    <!-- end logo -->
    <div class="email-us">Say <a href="mailto:echo.zahar@gmail.com"><span>echo.zahar</span>@gmail.com</a></div>
    <!-- end email-us -->
    <div class="languages"> <a href="#" class="active">EN</a> <a href="#">RU</a> </div>
    <!-- end languages -->
    <div class="sandwich-nav"> <b>MENU</b>
        <div class="sandwich-btn circle" id="sandwich-btn" data-dist="7"> <span></span> <span></span> </div>
        <!-- end sandwich-btn -->
    </div>
    <!-- end sandwich-nav -->
</nav>
<!-- end navbar -->
