<!-- navigation -->
<nav class="navigation-menu">
    <div class="green-layer"></div>
    <div class="black-layer"></div>
    <div class="inner">
        <ul>
            <li><a href="#">Start</a>
                <ul>
                    <li><a href="#index.html">Slider</a></li>
                    <li><a href="#index-video-bg.html">Video BG</a></li>
                    <li><a href="#index-particles.html">Particles</a></li>
                    <li><a href="#index-motion-blur.html">Motion Blur</a></li>
                    <li><a href="#index-animation.html">Animation</a></li>
                </ul>
            </li>
            <li><a href="#unicord.html">Unicord</a></li>
            <li><a href="#">Showcases</a>
                <ul>
                    <li><a href="#">4 Columns</a></li>
                    <li><a href="#">3 Columns</a></li>
                    <li><a href="#showcases-two-cols.html">2 Columns</a></li>
                </ul>
            </li>
            <li><a href="#">News</a></li>
<!--            <li><a href="say-hello.html">Say Hello</a></li>-->
        </ul>
        <address>
            Ставропольский край,<br>
            Доваторцев, 47Б <br>
            32-й микрорайон, Промышленный район, Ставрополь, 355042<br>
            <a href="tel:+78652552122">ресепшн</a>
        </address>
    </div>
    <!-- end inner -->
</nav>
